:root {
  --blanco: white;
  --oscuro: black;
  --Primario: yellow;
  --secundario: blue;
  --gris: grey;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
}

.titulo span {
  font-size: 15px;
}

.titulo {
  text-align: center;
}

.navegacion-principal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 18px;
}

.navegacion-principal a:hover {
  background-color: var(--oscuro);
  border-radius: 10px;
}

.nav-bg {
  background-color: var(--secundario);
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
  }
}

.hero {
  background-image: url(/img/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
