:root {
  --blanco: white;
  --oscuro: black;
  --Primario: yellow;
  --secundario: blue;
  --gris: grey;
}

/*Globales*/

html {
  font-size: 62.5%;
  box-sizing: border-box; /*Hack para box model*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hero {
  background-image: url(/img/4k-laptop-yn553k4gdhpc4hlh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
}

/*Titulos*/
.titulo span {
  font-size: 15px;
}

.titulo {
  text-align: center;
  margin: 1;
}

.navegacion-principal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 18px;
}

.navegacion-principal a:hover {
  background-color: var(--oscuro);
  border-radius: 10px;
}

.nav-bg {
  background-color: var(--secundario);
}

/*Recuerda arrglar los midia para 
la imagen y los botones*/
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 600px;
  }
}

.hero {
  position: relative;
  margin-bottom: 1rem;
}

.contenido-hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: inline-block;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.ubicacion {
  margin-top: 19rem;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.boton {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--secundario);
  color: var(--blanco);
  text-decoration: none;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
}

.boton:hover {
  background-color: var(--oscuro);
}

.contenedor {
  text-align: center;
  display: flex;
  display: inline-block;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
}

.sombra {
  -webkit-box-shadow: 10px 7px 10px -7px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 10px 7px 10px -7px rgba(0, 0, 0, 0.71);
  box-shadow: 10px 7px 10px -7px rgba(0, 0, 0, 0.71);
  background-color: var(--blanco);
  border-radius: 10px;
}

/*Mis servicios*/

/*Se le indica que repita 3 veces 1fr del data grip
  del 100%
  la sitaxis normal es
  grid-template-columns: 1fr 1fr 1fr;
  la otra es grid-template-columns: 33.3% 33.3% 33.3%;
  */

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio p {
  line-height: 2;
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--secundario);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
